.vscode/**
node_modules/**
!node_modules/tree-sitter/**
!node_modules/tree-sitter-css/**
!node_modules/tree-sitter-html/**
out/**
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
webpack.config.js
resources/readme/**